<h1>Cliente <small>Nombre del Cliente</small></h1>
<hr>
<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/clientes">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar( f )" #f="ngForm">
            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text"
                class="form-control"
                placeholder="Firebase ID"
                [(ngModel)]="cliente.id"
                name="id"
                disabled="disabled">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text"
                class="form-control"
                placeholder="Nombre del Cliente"
                [(ngModel)]="cliente.nombre"
                name="nombre"
                required>
            </div>

            <div class="form-group">
                <label>Apellido</label>
                <input type="text"
                    class="form-control"
                    placeholder="Apellido del cliente"
                    [(ngModel)]="cliente.apellido"
                    name="apellido"
                    required>
            </div>

            <div class="form-group">
                <label>Fecha de Nacimiento</label>
                <input type="date"
                    class="form-control"
                    placeholder="Fecha de nacimiento del cliente"
                    [(ngModel)]="cliente.fechaNacimiento"
                    (ngModelChange)="cambiarFechaNacimiento($event)"
                    name="fechaNacimiento"
                    required>
            </div>
            <div class="form-group">
                <label>Edad</label>
                <input type="number"
                    class="form-control"
                    [(ngModel)]="cliente.edad"
                    name="edad"
                    disabled="disabled">
            </div>
            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>