<h1>Listado de Clientes</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink="/cliente/nuevo" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>


<table *ngIf="!cargando && clientes.length > 0"
    class="table mt-3 animated fadeIn faster animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">F. Nacimiento</th>
            <th scope="col">Edad</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.fechaNacimiento }}</td>
            <td>{{ cliente.edad }}</td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/cliente', cliente.id ]">
                    <i class="fa fa-pen"></i>
                </button>
                <button class="btn btn-danger" (click)="borrarCliente( cliente, i ) ">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<small *ngIf="!cargando && clientes.length > 0"
    class="form-text text-muted">Promedio de edad de los clientes: {{ this.edadPromedio }} </small>

<div *ngIf="!cargando && clientes.length === 0"
    class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p><i class="fa fa-exclamation fa-2x"></i></p>
</div>

<div *ngIf="cargando"
    class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>